body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    font-weight: bold;
}

nav {
    margin: 0;
    border-bottom : 2px dashed gray;
}
.manus{
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: 90%;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.active, button {
    background: #a502a5;
    border-radius: 5px;
    color: white;
}
.active{
    color: #fff;
}

ul li{
    padding: 10px 20px;
}

ul li a{
    text-decoration: none;
    color: #000;
}

.icon {
    background: #a502a5;
    border-radius: 5px;
}

.container{
    display: flex;
}
.card{
    border: 1px solid;
    margin-left: 30px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
.text{
    text-align: center;
}
.img{
    justify-content: center;
    
}
img{
    width: 50%;
    margin-left: 25%;
}
.footer{
   background-color: rgb(200, 198, 198);
}
h2,p{
    text-align: center;
}
