body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
}
ul{
    display: flex;
    margin-top: 2%;
    margin-right: 3%;
}

ul li {
    list-style: none;
    padding:10px 20px;
    margin-right: 2%;
}

ul li a{
    text-decoration: none;
}
<<<<<<< HEAD
button{
    
}
.container{
    display: flex;
}
.card{
    border: 1px solid;
    margin-left: 30px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
.text{
    text-align: center;
}
.img{
    justify-content: center;
    
}
img{
    width: 50%;
    margin-left: 25%;
}
=======
.footer{
   background-color: rgb(200, 198, 198);
}
h2,p{
    text-align: center;
}
>>>>>>> 8fef7e4b46ba79056e5da76572ed2aa27b4cc770
